.content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 70%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    flex: 1;
}

.image-container{
    position: relative;
}

.section-image{
    width: 460px;
    height: 197px;
    object-fit: cover;
}

.temperature{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
  font-size: 60px;
  font-weight: bold;
  color: rgb(255, 255, 255)
}

.section-2{
    background: linear-gradient(top bottom,#1e2a78,#15224a);
    height: 196px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}

.top-info,
.bottom-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.info-box{
    text-align: center;
}

p{
    font-size: 20px;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.search-input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button{
    padding:10px 20px;
    background-color: #1e2a78;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;

}

